article{
	width: 1000px;
	margin: 0px auto;
	padding: 5px;
}

.left{
	width: 490px;
	float: left;
	background-color: rgba(0, 0, 0, 0.45);
	margin-right: 5px;
}

.right{
	width: 490px;
	float: left;
	background: rgba(0, 0, 0, 0.34);
}



#sellForm > div{
	width: 200px;
	padding: 5px;
}

#sellForm > div > label{
	width: 50px;
}

#sellForm > div > select{
	width: 90px;
}

#sellForm > div > input{
	width: 50px;
}