/***** Stylesheet to support RTL languages *****/

blockquote { border-left: 2px solid #bbbd00; border-right: 5px solid #bbbd00; }
.mh-slider-widget .flex-control-nav { left: 15px; right: auto; }
.mh-widget-col-1 .flex-control-nav, .mh-widget-col-2 .flex-control-nav { left: 10px; right: auto; }