button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: white;
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;
	transition: 0.25s;

	&:hover {
		background: $color__link-hover;
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		background: $color__link-hover;
		border-color: $color__border-button-focus;
	}
}