#theme-option {
    position:fixed;
    top:100px;
    z-index:99999;
}
#theme-option .theme-opt-wrapper {
    width:200px;
    background:#FFF;
    padding:10px 20px 20px 20px;
    float:left;
	border-radius:0 0 5px 0;
	-moz-border-radius:0 0 5px 0;
	-webkit-border-radius:0 0 5px 0;
}
.theme-opt-wrapper p {
    float:left;
    display:block;
    width:100%;
    background:none;
}
.theme-opt-wrapper .kopa-reset-btn {
	margin-bottom:0;
	text-align:center;
}
.theme-opt-wrapper .btn {
    display:inline-block;
    margin-top:10px;
	width:50px;
}	
.theme-opt-wrapper ul {
    margin: 0 0 10px 0;
    padding:0;
    float:left;
}
.theme-opt-wrapper ul li {
    list-style:none;
    float:left;
    margin:0 1px 1px 0;
}
.theme-opt-wrapper ul li a {
    display:block;
    width:32px;
    height:32px;    
    background-size:0 0;
    background-image: url('../images/background/switch-color-active.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #CCC;
	outline:none;
    float:left;
    opacity:1;
	filter: alpha(opacity=100);
	text-indent:-99999px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.theme-opt-wrapper ul.choose-color a:hover,
.theme-opt-wrapper ul.choose-color a.active { background-size:10px 10px;}

.color.red 			{ background-color: #e03d3d !important; }
.color.navy 		{ background-color: #7cbca4; }
.color.blue 		{ background-color: #29acc8; }
.color.yellow 		{ background-color: #f7c610; }
.color.coban	 	{ background-color: #3d3d8b; }
.color.gray	 		{ background-color: #5f5b5c; }
.theme-opt-wrapper ul li a:hover {
    opacity:.8;
}
.theme-opt-wrapper select {
    width:100%;
    font-size:11px;
}		
#theme-option .open-close-button {
    width:30px;
    height:40px;
    float:left;
    margin:0;
    background:red;
    display:inline-block;
    *display:inline;
    zoom:1;
    background: #fff;
	text-align:center;
	color:#e03d3d;
    border-radius:0 5px 5px 0;
    -webkit-border-radius:0 2px 2px 0;
    -moz-border-radius:0 2px 2px 0;
	font-size:18px;
	line-height:40px;
    border-left:0;
	outline:none;
	text-decoration:none;
}

.kopa-select-bg label{
    display: inline-block;
    width: auto;
    margin-right: 40px;
    margin-bottom: 0px;
    font-size:12px;
    line-height:20px;
}
.kopa-select-bg input[type=radio]{
    margin: 0px;
}

