.wrap{
 	p {
 		.view-demo,.upgrade {
	 	 	float:right;
	 	 	display: block;
	 	 	text-decoration: none;
	 	 	margin:10px; 
	 	 	padding-right: 10px;
	 	 	font-size: 14px;
	 	 	border: 5px solid #e4e2e2;
			border-radius: 3px;
	 	 	font-weight: bold;
	 	 	i {
	 	 		padding: 10px 15px;
	 	 		font-size: 1.2em;
	 	 		display: inline-block;
	 			line-height: 25px;
	 	 	}	 	
	 	}
	 	.view-demo {
	 		background-color: #cecbcb;
	 		color: black;

	 		i {
	 			background-color: #aca8a8;
	 			color: black;
	 		}

	 	&:hover {
	 	 	background-color: #aca8a8;
	 	 }
	 	}
	 	.upgrade {
	 		background-color: #f05151;
	 		color: white;

	 		i {
	 			background-color: #d53f3f;
	 			font-size: 1.2em;
	 		}

		 	&:hover {
		 	 	background-color: #d53f3f;
		 	}	
	 	}
		
	}

	.one-third.column {
	    border: 2px solid #d7d7d7;
	    float: left;
	    box-shadow: 5px 5px 0 #d7d7d7;
	    margin:30px;
	    width: 23%;
	    padding: 20px;
	    background-color: white;
	    text-align: center;
	    	h3 {
	    		font-size: 1.5em;
	    		border: none;

	    	}
	    	p {
	    		font-size: 14px;
	    		margin-bottom:0;
	    		text-align: left;
	    	}

	    	.fa {
	    		font-size: 50px;
	    		color: #eb416b;
	    	}
	}

}	