 body {
	 direction: rtl;
     unicode-bidi: embed;
 }
 .main-navigation a,.site-content,.footer-widgets,.service-content {
 	text-align: right;
 }
 .site-footer .footer-widgets .widget-title::after {
 	right: 16%;
 }
 .site-footer .footer-widgets .widget-title::before {
 	right:0;
 }